nav {
  padding: 10px 15px;
  background: #333;
  border-bottom: 5px #08c solid;

  display: flex;
}

#logo {
  margin-right: auto;

  width: 190px;
  height: 40px;
  background: url('https://bioarchlinux.org/css/archnavbar/bioarchlinux.png') no-repeat;
  background-size: 100%;

  h1{
    // make text offscreen
    text-indent: -9999px !important;
  }

  a {
    display: block;
    width: 190px;
    height: 40px;
  }
}

#navbarlist {
  list-style: none;
}

#navbarlist li {
  font-size: 14px;
  font-family: sans-serif;
  line-height: 14px;
  display: inline-block;
}

#navbarlist a{
  color: #999;
  font-weight: bold;
  text-decoration: none;

  display: inline-block;
  padding: 14px 15px 0px;

  &.active {
    color: white;
  }

  &:hover {
    color: white;
    text-decoration: underline;
  }
}
