.pkgname-header {
  border-bottom: 1px solid #888;
  margin-bottom: .5em;
}

table.pkginfo {
  th {
    text-align: start;
  }

  td {
    padding-left: 2em;
  }
}

.right-things {
  float: right;
}

#actionlist {
  padding: .5em;
  margin-bottom: 1em;
  background: var(--package-actions-box-bg);
  border: 1px solid var(--package-actions-box-border-color);

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    font-size: .846em;
  }
}

.pkginfo-section {
  background: #555;
  color: #fff;
  margin: .5em 0;
  padding: .2em .35em;
}