@media screen and (prefers-color-scheme: light){
  :root {
    --fg: #000;
    --bg: #fff;

    --link-fg: #08c;

    --box-bg: #ecf2f5;

    --index-thead-border: #000;
    --index-item-bg1: #fff;
    --index-item-bg2: #e4eeff;
    --index-item-hover: #ffd;

    --package-actions-box-bg: #eee;
    --package-actions-box-border-color: #bbb;
  }
}

@media screen and (prefers-color-scheme: dark){
  :root {
    --fg: rgba(255, 255, 255, 0.87);
    --bg: #000;

    --link-fg: rgb(140, 140, 255);

    --box-bg: #212427;

    --index-thead-border: #fff;
    --index-item-bg1: #000;
    --index-item-bg2: #1a1a1a;
    --index-item-hover: rgb(75, 75, 6);

    --package-actions-box-bg: #222;
    --package-actions-box-border-color: #fff;
  }
}
