// Configuration
@import "variable";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

a:link,
a:visited
{
  color: var(--link-fg);
}

.content {
  padding: 15px;
}

table {
  border-collapse: collapse;
  margin: .5em 0;
}

// search bar
.search {
  width: 100%;
  
  margin: 15px 0;

  font-size: 15px;
  padding: .5em .5em;
}

.box {
  border: 1px solid #bcd;
  padding: .5em;
  background: var(--box-bg);
}

.table-scroll-wrapper {
  overflow-x: auto;
}

table#index-table {
  width: 100%;

  thead {
    border-bottom: 1px solid var(--index-thead-border);
  }

  tbody {
    td {
      white-space: nowrap;
    }
  }
}

tr.index-item:hover {
  background: var(--index-item-hover);
}

// Components
@import "root";
@import "nav";
@import "footer";
@import "pkginfo";
