// Configuration
@import "variable";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 650px;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

a:link,
a:visited
{
  color: var(--link-fg);
}

h2 {
  border-bottom: 1px solid #888;
  margin-bottom: .5em;
}

.content {
  width: 95%;
  margin: 30px auto;
}

table {
  border-collapse: collapse;
  margin: .5em 0;
}

.box {
  border: 1px solid #bcd;
  padding: .5em;
  background: var(--box-bg);
}

.table-scroll-wrapper {
  overflow-x: auto;
}

// Components
@import "root";
@import "nav";
@import "footer";
@import "index";
@import "pkginfo";
